.general-header {
  align-items: top;
  background-color: #0c0908;
  color: #f9f6ee;
  display: flex;
  height: 7vh;
  justify-content: space-between;
  padding: 10px;
}

.general-header .header-item a {
  font-size: 30px;
}

.icon {
  color: #f9f6ee;
  text-decoration: none;
}

.general-header .cart {
  border: none;
  display: flex;
  text-align: start;
}
