.item-wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  row-gap: 8px;
}

.item {
  background-color: #fffefc;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

.item:hover {
  background-color: #c5c6d0;
}
