.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout h2 {
  text-align: center;
}

/* cart Css */
.cart {
  border: 1px solid #121212;
}

.cart .cart-product {
  border: 1px solid #aaa;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.cart .cart-product .product-name {
  max-width: 25%;
  text-align: justify;
}

.cart .cart-product img {
  width: 100px;
}

/* form CSS */
.client-data {
  border: 1px solid #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client-data .data-input {
  flex-basis: 25%;
  padding: 20px;
}

.client-data .data-input input {
  border: 1px solid #ccc;
  padding: 12px 20px;
  width: 100%;
}

/* Payout Method CSS */
.payout-method {
  align-items: center;
  border: 1px solid #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.payout-method .radio-input {
  padding: 10px;
}

/* Button CSS */
.button {
  align-self: center;
}

.button button {
  padding: 20px;
}

.button button:hover {
  background-color: rgb(0, 226, 0);
}
